[submodule "ext/DirectXTex"]
	path = ext/DirectXTex
	url = git@github.com:microsoft/DirectXTex.git
[submodule "ext/tetgen"]
	path = ext/tetgen
	url = git@github.com:ufz/tetgen.git
[submodule "ext/PoissonSamplingGenerator"]
	path = ext/PoissonSamplingGenerator
	url = git@github.com:bartwronski/PoissonSamplingGenerator.git
